html, body{
    margin: 0;
    padding: 0; 
    background-color: #222;
}

header {
    margin: 0;
    background-color: #222;
    height: 100px;
    width: 100vw;
}

nav {
    height: 100%;
}

ul {
    height: 100%;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-basis: 300px;
}

li {
    text-decoration: none;
}

a {

    background-color: transparent;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.active { 
    background-color: aqua;
    color: black
}

.container {
    width: 100vw;
    display: flex;
    padding: 16px;
    gap: 8px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 8px;
    color: white;
    border: 3px solid cyan;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}